@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=WindSong:wght@400;500&display=swap');

/*thx to Lindsay Moe for the bee picture*/
/*thx to Yana Hurska for the music picture*/

                                             /*REINITIALISATION*/
* {
margin: 0;
padding: 0;

}
                                            /*B O D Y PARAGRAPHES  ET T I T R E S*/

body {
   
}

h1 {

   text-align: center; 

}

h2 {
margin-left: 175px;
padding: 10px;
}

h3 {
    margin-left: 175px;
padding: 10px;
}
h4 {
border: solid 3px white;

}

p {margin-left: 175px;
text-align: justify;}

                                                    /*I M A G E S*/

.images {
align-items: flex-end;
width: 500px;
height:300px; 
border: black solid 2px; 
border-radius: 15px; 
/*pb ça ne redimensionne pas, mais j'avais visé le p au lieu de img*/
}


                                                 /*HEADER*/

header {
    padding: 20px;
    color: white;
    background-color: teal;
    position: sticky;
    z-index: 1;
    width: 100%;
    top: 0;
    font-size: x-large;
    padding: 20px;
   font-family: "Alegreya SC", serif;
   font-weight: 400;
   font-style: normal;
}

header li {
    border: solid wheat 2px;
    display: flex;
    list-style-type: none;
        text-decoration: none;
       text-align: center;
       border-radius: 10px;
    
    }
    
nav {
        display: grid;
       flex: 1 1 auto;   
        }

.flex {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    margin: auto;
    }
    
                                            /*A S I D E */

    aside {margin-top: 50px;
        border-color: solid black 2px; 
        flex-direction: column;
        min-height: 75vh;
        width: 20vh;
        position: fixed;
        padding: 20px;
        font-family: "Alegreya SC", serif;
        font-weight: 500;
        font-style: normal;
        top: 80px;
    color: white;}

aside li {

list-style-type: none;
position: relative;
z-index: 5;
margin: auto;
padding: 10px;
}

aside a{
    text-decoration: none;
    color: white;
}

.flexaside {
background-color: rgba(17, 114, 143, 0.594);
    max-width: 20uv;
    flex-direction: column;
    padding: 10px;
    display:flex;
    backdrop-filter: blur (10);
    border-radius: 10px;
   text-align: center;

}
.column {

    flex-direction: column;
    max-width: 10%;
  align-content: flex-start;
  padding: 20px; 
}

.grid {
    display: grid;
    grid-template-columns: 35% 65%; 

} /*vérif*/



/* vérification */


/*
header {
display: flex;
align-content: center;
border: 10px solid black;
height: 10%;
width: 100%;
background-color: rgba(210, 172, 172, 0.735);
font-weight: 400;
font-family: "Alegreya SC", serif;
   font-weight: 600;
   font-style: normal;
   justify-content: space-evenly;
   position: sticky;

}*/


footer {

    width: 100%; 
    height: 10%; 
    background-color: bisque;

}





    
a {text-decoration: none;
color: black;
text-align: center;}

.btn {
    background-color: #B9625D;
    border: 3px;
    border-radius: 15px;
    color: aliceblue;
    padding: 15px 55px;
    font-size: 1.5rem;}

    form {
        display: grid; 
       grid-tepmplate-area:
        "name name pers"
        "email email pers"
        "mess mess mess"
        "date hour btn";
        gap:5px; 
        }
        
        #name {grid-area: name;
        }
        #number {grid-area: pers;}
        #email {grid-area: email;}
        #message {grid-area: mess;}
        
/*
font-family: "Alegreya SC", serif;
   font-weight: 600;
   font-style: normal;
   justify-content: space-evenly;*/

