@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=WindSong:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/*utile*/


/*thx to Lindsay Moe for the bee picture*/
/*thx to Yana Hurska for the music picture*/

/*REINITIALISATION*/
* {
    margin: 0;
    padding: 0;
    font-size: x-large;
}

/*B O D Y PARAGRAPHES T I T R E S ET A*/

body {
    background-image: url(https://img.freepik.com/photos-gratuite/north-beach-ocean-nazare-portugal_1268-14126.jpg?t=st=1731943748~exp=1731947348~hmac=28b5b104f2d60d81d8fe941d11aa873706567e69e70d76fcb2dbcd3e159e9518&w=740);
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

h1 {

    text-align: center;

}

h2 {

    padding: 10px;
    text-align: center;
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
    font-size: xx-large;
    padding: 50px;
    color: teal;
}

h3 {
   
    padding: 10px;
}

h4 {
    border: solid 3px white;

}

p {

    text-align: justify;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

/*I M A G E S*/

.images {
    align-items: flex-end;
    width: 500px;
    height: 300px;
    border: black solid 2px;
    border-radius: 15px;
    /*pb ça ne redimensionne pas, mais j'avais visé le p au lieu de img*/
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 28px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 28px 5px rgba(0, 0, 0, 0);
}


/*HEADER*/

header {

    padding: 20px;
    color: white;
    background: linear-gradient(90deg, rgba(17, 114, 143, 0.53) 18%, rgba(153, 227, 230, 1) 76%);
    position: sticky;
    z-index: 1;
    width: 100%;
    top: 0;
    font-size: x-large;
    padding: 20px;
    font-family: "Alegreya SC", serif;
    font-weight: 500;
    font-style: normal;
    justify-content: space-between;
}

header li {
    border: solid wheat 2px;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
 

}

nav {
    display: grid;
    flex: 1 1 auto;
}

/*CONTAINER FLEX ET GRID(attention à l'incompatibilité entre flex et grid....*/

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 200px;
}

.textContainer {
    flex: 1;
    margin-right: 15px;
}

.imageContainer {
    position: relative;
    flex: 1;
    display: inline-block;
}

/*j'ajoute ici une séparation afin que mon aside n'empiète pas, mais cela pose des problèmes, sachant que j'ai aussi ajouter 
des left margin un peu pourtout pour régler ce pb*/

.mainContent {

    margin-left: 200px;
    padding: 20px;
}
/* ca a empiré les choses !, mais il faut bien enlever mes margin left 175px, c pas pro. résultat mes lien "à découvrir" sont sortis des images...*/

/**/

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    margin: auto;
}

/*A S I D E ET POSITIONS*/

/*@media (max-width: 768px) {
    aside {
        width: 100%;
        height: auto;
        position: relative;
    }*/

aside {
    position: fixed;
    top: 165px;
    flex-direction: column;
    
    width: 150px;
    padding: 30px;
    
    min-height: 75vh;         
    /*width: 20vh;*/
   
    font-family: "Alegreya SC", serif;
    font-weight: 500;
    font-style: normal;
   
    color: white;
}

aside li {

    list-style-type: none;
    position: relative;
    z-index: 5;
    margin: auto;
    padding: 10px;
}

aside a {
    text-decoration: none;
    color: white;
}

.flexaside {
    background-color: rgba(17, 114, 143, 0.594);
    max-width: 20uv;
    flex-direction: column;
    padding: 10px;
    display: flex;
    backdrop-filter: blur (10);
    border-radius: 10px;
    text-align: center;

}

/*

.column {

    flex-direction: column;
    max-width: 10%;
    align-content: flex-start;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 35% 65%;

}*/




.relative {
    position: relative;
}

.relative a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* BOUTON NEON PRIS SUR HGWEBSTUDIO
                https://www.hgwebstudio.com/neon-button-with-css-hover-effects/
                */

/* .btn {
                    background-color: #B9625D;
                    border: 3px;
                    border-radius: 15px;
                    color: aliceblue;
                    padding: 15px 55px;
                    font-size: 1.5rem;
                } */

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/*
.neon-btn {
    position: relative;
    padding: 20px 30px;
    background: transparent;
    border: 3px solid #f3eaff;
    border-radius: 50px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 7px 0 #9013fe, 0 0 5px 2px #d64eff, inset 0 0 7px 0 #9013fe, inset 0 0 5px 1px #d64eff;
}

.neon-btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
    transition: all 200ms ease-in-out;
}

.neon-btn:hover::before {
    top: -9px;
    left: -9px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border: 1px solid #f3eaff;
    box-shadow: 0 0 7px 0 #9013fe, 0 0 5px 2px #d64eff, inset 0 0 7px 0 #9013fe, inset 0 0 5px 1px #d64eff;
}
*/

/*
header {
display: flex;
align-content: center;
border: 10px solid black;
height: 10%;
width: 100%;
background-color: rgba(210, 172, 172, 0.735);
font-weight: 400;
font-family: "Alegreya SC", serif;
   font-weight: 600;
   font-style: normal;
   justify-content: space-evenly;
   position: sticky;

}*/


footer {

    width: 100%;
    height: 20%;
    background-color: bisque;

}







/*



form {
    display: grid;
        grid-template-areas:
        "name name pers"
        "email email pers"
        "mess mess mess"
        "date hour btn";
    gap: 5px;
}

#name {
    grid-area: name;
}

#number {
    grid-area: pers;
}

#email {
    grid-area: email;
}

#message {
    grid-area: mess;
}

/*
font-family: "Alegreya SC", serif;
   font-weight: 600;
   font-style: normal;
   justify-content: space-evenly;*/